.icon-social{
  font-family:socicon;
  color: $color_grey;
  @include transition(all $trans_time $trans_mode);
}

.icon-social:hover{
  color: $color_cta;
  
  // background-color: $color_greyWhite;
}

.icon-social.border{
  margin-left:5px;
  margin-right:5px;
  padding:5px;
  border: 1px solid $color_grey;
}

.icon-social.border:hover{
  border-color: $color_cta;
}