wp-config.php

content/upgrade
content/uploads
local-config.php


!content
content/*

!content/themes

content/themes/*
!content/themes/aposhproduction

wordpress


node_modules/*
bower_components/
js/vendor/
dist/
releases/
.sass-cache/
css/
css/global.css
.DS_Store
