section{
  padding-top:30px;
  padding-bottom:30px;

  h1{
    line-height: 0.826;
  }
}

section.white{
  background-color: $color_white;
}

section.grey{
  background-color: $color_offwhitegrey;
}

section.bg-image{
  @include centerBackground();
  color: $color_white;
}

.section-breaker{ 
    display:block;
    border:none;
    color:white;
    height:1px;
    // background:black;
    background: lighten($color_hr,5%);
    // background: $color_hr_gradient;
    @include middleGradient($color_white, $color_hr);

}


section.page-section{
  padding-top: 30px;
  padding-bottom:30px;

  .page-section-title{
    text-align: center;
    margin-bottom: 30px;
  }
}

#page-content > section:first-child{
  padding-top:0px;
}