.category-filter{
  padding-bottom:30px;
  text-align: center;
  ul{
    margin-bottom:0px;
    padding:0px;
  }
  ul li:not(:last-child){
    border-right: 1px solid $color_postThumbBorder;
  }  
  ul li{
    display:inline-block;
    padding: 0px 20px;

    a{
      font-family:cinzelbold;
      font-size: 18px;
      color: $color_grey !important;
      line-height: 18px;
    }
    a:hover{
      color: $color_cta !important;
    }    
  }
}

@media (max-width: $screen-sm-min) {
  .category-filter{
    ul li{
      display: block;
      border: none !important;
    }

  }
}