.news-item{
  height: 90px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;

  .thumb{
    border: 2px solid $color_greyBorder;
    height: 86px;
    width: 86px;
    margin-right:10px;
    display: inline-block;
    vertical-align: middle;
    img{
      height:82px;
      width:82px;
    }

  }
  .text{
    width:70%;
    display: inline-block;
    vertical-align: middle;
    margin-top:10px;
    margin-bottom:10px;
    font-family: latoregular;
    color: $color_white;
    .vertical-center-wrapper{
      height: 90px;            
    }
    .preview{
      font-weight:200;
      margin-bottom:5px;
      
    }

    .author{
      font-size: $size_base * .79;
      color: $color_cta;
      margin-bottom: 0px;
      text-transform: uppercase;
    }
  }
}

@media (max-width: $screen-sm-min) {
  .news-item{
    height: auto;
    .text{
      width:100%;
    }
  } 
}