.page-testimonial{
  max-width: 650px;
  margin: auto;
  position: relative;
  text-align: center;
  .testimonial-left,
  .testimonial-right{
    font-size: 190.807px;
    line-height: 0.857;
    font-family: narzissswirlsregular;
    color: $color_greyMed;
    display: none;
  }
  .testimonial-left{

  }
  .testimonial-right{

  }
  .testimonial-text{
    font-size: 28px;
    line-height: 1.286;
    font-style: italic;
    color: $color_cta;
    text-align: center;
    display: inline-block;
    padding: 0 50px;
  }

  .testimonial-text:before,
  .testimonial-text:after{
    font-size: 140px;
    line-height: 0.857;
    font-family: narzissswirlsregular;
    color: $color_greyMed;
    font-style: normal;
    position: absolute;
  } 

  .testimonial-text:before{
    content:"\201C";
    left: 0px;
  } 
  .testimonial-text:after{
    content:"\201D";
    right: 0px;
  }   
}

@media (max-width: $screen-sm-min) {
  .testimonial-text{
    padding: 0 30px;
  }
  .testimonial-text:before,
  .testimonial-text:after{
    display: none;
  }
}
