.staff-member{
  border-top: 1px solid $color_hr_gradient;
  border-bottom: 1px solid $color_hr_gradient;

  padding-top: 30px;
  padding-bottom: 30px;

  .name{
    color: $color_cta;
    width: 200px;
    text-align: center;
    font-size: 24px;
    line-height: 1.375;
    margin-bottom:0px;
  }

  .thumb{
    height: 200px;
    width: 200px;
    background-size: 200px 200px;
    border-radius: 50%;
    margin-bottom: 30px;

  }

  .bio::first-letter{
    @include firstLetterCaps();
    font-size:46px;
  }

  .bio{
    line-height: 2.2;
    font-size: 15px;
    font-family: latolight;
    margin-bottom:0px;
  }
}
.staff-member.grey{
  background-color: $color_offwhitegrey;
}
@media (min-width: $screen-md-min) {
  .staff-member.grey{
    .thumb-wrapper{
      float:right;
      .thumb,.name{
        margin-left: auto;
        margin-right: auto;
      }     
    }
    .bio-wrapper{
      float:left;

    }    
  }

  .staff-member{

    .bio-wrapper{
      display:table;
      min-height:250px;

      .bio{
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

} 
@media (max-width: $screen-md-min) {
  .staff-member.grey{
    .thumb-wrapper{
      float:none;
    }
    .bio-wrapper{
      float:none;
    }      
  }
  .staff-member{
    .thumb-wrapper{
      .thumb{
        margin-left:auto;
        margin-right:auto;
      }
      .name{
        width:100%;
      }
    }    
  }

}  



