.contact-form{

  // padding-top:30px;
  // padding-bottom:30px;  

  .ajax-loader{
    display: none;
  }

  form,
  .info{
    width:80%;
    margin: auto;
  }

  .form-wrapper{
    position: relative;
  }

  .form-wrapper:after{
    content: " ";
    @include vertical-gradient();
    position: absolute;
    right:0px;
    height: 100%;
    width: 1px;
    top:0px;
    display: inline-block;
  }

  .contact-info{
    text-align: center;
    margin-top:30px;
    color: $color_grey;
    .contact-extra{
      font-family: latolight;
    }
  }
}

@media (max-width: $screen-md-min) {
  .contact-form{
    form,
    .info{
      width:100%;
    }
    .form-wrapper{
      margin-bottom:50px !important;
    }
    .form-wrapper:after{
      display:none;
    }
  }

}