.faq-section{
  padding-top:15px;
  padding-bottom:15px;
  div[class*=col-md]{
    margin-bottom:0px !important;
    margin-top:0px !important;
  }
}
.faq-category{
  color: $color_cta;
  margin-bottom:0px;
}

.faq{
  margin-top:15px;
  margin-bottom:15px;
  .title{
    font-weight: 700;
    margin-bottom: 7.5px;
  }
  .text{
    margin-bottom:0px;

    p{
      margin-bottom:0px;
    }
  }
}