.hashtag-order{
  margin-top: 30px;
  margin-bottom: 30px; 

  .order-item:first-child:after,
  .order-item:nth-child(2):after{
    background-image: url($images_dir + 'page_slider_next.png') !important;
    content: ' ';
    height: 32px;
    width: 14px;
    background-size: 14px 32px;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -32px;    
  }

  .order-item{
    text-align:center;    
    height: 275px;
    .index{
      margin-bottom:15px;
      font-family: narzissdropsregular;
      font-size: 44px;
      color: $color_cta;
    }
    .thumb{

    }
    .text{
      text-transform: uppercase;
      font-family: cinzelregular;
      margin-bottom:0px;
      margin-top:15px;
    }
  }

}

@media (max-width: $screen-sm-min) {
  .hashtag-order{
    .order-item{
      height: auto;
    }
    .order-item:after{
      display:none;
    }
  }
}

