.wpcf7-form-control-wrap,
.form-control-wrapper{
  margin-top:25px;
  margin-bottom:25px;
  display: block;  

  span[role="alert"]{
    margin-top:5px;
  }
}

.wpcf7-response-output{
  border:none !important;
}

.form-control-wrapper .boostrap-select{
  margin-top:25px;
  margin-bottom:25px;
}

.form-control-wrapper > .boostrap-select{
  margin-bottom:0px; 
  margin-top: 0px;
}

.form-control{
  font-family: latolight;
  font-size: 16px;
  color: $color_grey;
  padding: 0px 30px;
  resize: none;
  line-height: 1.375;
  border-color: $color_inputsBorder;
  box-shadow: none;
  @include transition(all $trans_time $trans_mode);
  border-radius:0px;
  -webkit-appearance: none;
  height: 42px;
}

textarea.form-control{
  padding-top:20px;
  padding-bottom: 20px;
}

.form-control::-ms-clear {
    display: none;
}

input::-ms-clear {
    display: none;
}



.form-control:focus{
  border-color: $color_cta;
  box-shadow:none;
  outline:none;
}

::-webkit-input-placeholder,
:-ms-input-placeholder,
:-moz-placeholder,
::-moz-placeholder{
  font-size: 16px;
  color: $color_inputs;
  font-family: latolight;
}
