section.photo-addons {
  .section-breaker:last-child{
    display:none;
    // border-bottom:1px solid $color_hr;
    // background: lighten(,5%);
    // @include middleGradient($color_white, $color_hr);    
  }

  .page-section-title-photo-addons{
    font-size: 52px;
    font-family: narzissdropsregular;
    text-transform: none;
    margin-bottom: 0px !important;
    line-height: 1;
  }
}