.review{
  margin-top:30px;
  margin-bottom:30px;
  .title{
    font-size: 28px;
  }
  .text{
    font-family: latolight;
    line-height: 1.824;
  }
  .text::first-letter{
    @include firstLetterCaps();
    font-size:46px;
  }
}

