.wedding-wire-link{
  background-image: url($images_dir + 'wedding_wire_link.png');
  background-size: 219px 214px;
  width: 219px;
  height: 214px;
  margin: auto;
  position: relative;

  .wedding-wire-review-count{
    position: absolute;
    top: 140px;
    left: 0px;
    font-family: cinzelregular;
    font-size: 14.548px;
    color: $color_cta;
    width: 219px;
    text-align: center;
  }
}
